body {
    background-color: rgb(16, 17, 15);
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.todo-container {
    margin-top: 200px;
    width: calc(50% - 100px);
}

.todo-form-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;  
    padding: 10px;
    -webkit-box-shadow: 1px 1px 20px rgba(230, 230, 230, .2);
    -mox-box-shadow: 1px 1px 20px rgba(230, 230, 230, .2);
    box-shadow: 1px 1px 20px rgba(230, 230, 230, .2);
}

.todo-form {
    padding: 0 10px;
}

h1 {
    color: #5a81a1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
}

input:focus {
    outline: none;
}

.todo-input {
    color: #1d300a;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
    width: calc(80%);
    min-height: 30px;
    border-style: none;
    font-size: 25px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0);
}

.add {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 4px;

}

.add-todo {
    height: 30px;
}

.todo-item{
    display: flex;
    flex-direction: row;
}

.todo-item-button {
    color: white;
    border-radius: 100px;
}

.buttons {
    display: inline-flex;
    align-items: center;
    /* border: 1px solid green; */
    align-self: stretch;
    padding: 4px;
}

button {
    height: 20px;
    border: 0px none;
    border-radius: 200px;
    background-color: green;
    color: white;
}

.update-button {
    background-color: green;
}

.delete-button {
    background-color: red;
}

ul {
    width: 100%;
    /* border: 1px solid red; */
    padding: 0px;
    
}

li {
    list-style-type: none;
}